<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Chat</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <header>
      <h1>Live Chat</h1>
      <p>Converse em tempo real!</p>
    </header>
    <form id="chat">
      <input
        type="text"
        id="username"
        placeholder="Digite seu nome"
        required
        autofocus
      />

      <div id="messages"></div>

      <textarea id="sendMessage" placeholder="Digite sua Mensagem (Max. 500 caracteres)" rows="3" cols="6" minlength="1" maxlength="500" ></textarea>
      <button type="submit">Enviar Mensagem</button>
      <a href="/use-markdown" rel="internal">Veja como personalizar suas mensagens</a>
    </form>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>

    <script src="/scripts/script.js"></script>

  </body>
</html>
