<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login-page.css" />
  </head>
  <body>
    <header>
      <h1>Live Chat</h1>
      <p>Converse em tempo real!</p>
    </header>
    <form action="" method="post">
      <h1>Entre na sua conta</h1>

      <label for="email">Email</label>
      <input type="email" name="email" id="email" />

      <label for="password">Senha</label>
      <input type="password" name="password" id="password" />

      <button type="submit">Entrar</button>
      <a href="/register">Não tem conta? Crie uma agora!</a>
    </form>
  </body>
</html>
