<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/public/styles/login-page.css" />
  </head>
  <body>
    <header>
      <h1>Live Chat</h1>
      <p>Converse em tempo real!</p>
    </header>
    <form action="" method="post">
      <h1>Acesse sua conta</h1>

      <fieldset>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required  onkeyup="verifyInputs()" />

        <label for="password">Senha</label>
        <input
          type="password"
          autocomplete="current-password"
          name="password"
          id="password"
          onkeyup="verifyInputs()"
          required
        />

        <button type="submit" class="">Entrar</button>
        <a href="/register">Não tem conta? <strong>Crie uma agora!</strong></a>
      </fieldset>
    </form>

    <script src="/public/scripts/userPage.js"></script>
  </body>
</html>
